<div class="layer--warning-light layer--SMALL">
    <div class="container">
        <div class="bricks">
            <div class="bricks--layer bricks--layer--SMALL">
                <div class="bricks--item">
                    <h4>Brickworks</h4>
                </div>
                <div class="bricks--item">
                    <a href="https://twitter.com/techtolentino" target="blank">@techtolentino</a><br>
                    <a href="mailto:makertolentino@gmail.com" target="blank">makertolentino@gmail.com</a>
                </div>
                <div class="bricks--item">The Brickworks library is a set of style classes that can be used with any project.</div>
            </div>
        </div>
    </div>
</div>
