<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Brickworks</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Martel:700|Source+Sans+Pro:400,200,700|Roboto+Mono:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{site.url}}/css/main.css">
    <link rel="icon" href="favicon.png" type="image/gif">
</head>
