<div class="band">
    <div class="container">
        <img class="icon-medium" src="/assets/books.svg" alt="">
        <a href="{{site.url}}{{site.baseurl}}/"><h3>{{site.title}}</h3></a>
        <ul class="nav-list">
            <a href="/tools/github"><li class="nav-list--item">GitHub</li></a>
            <a href="/tools/slack"><li class="nav-list--item">Slack</li></a>
            <a href="/tools/mural"><li class="nav-list--item">Mural</li></a>
            <a href="/tools/npme"><li class="nav-list--item">npmE</li></a>
        </ul>
    </div>
</div>
