.band {
    width: 100%;
    padding: $spacing-unit 0 $spacing-unit 0;

    &-md {
        width: 100%;
        padding: $spacing-unit * 2 0 $spacing-unit * 2 0;
    }

    &--github {
        background: $primary;
    }

    &--slack {
        background: $secondary;
    }

    &--mural {
        background: $danger;
    }

    &--npmE {
        background: $primary-dark;
    }

    &--SECONDARY {
        background: $text-color;
    }
}
