.bricks {

    &--layer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &--item {
        flex: 1;
        margin: .25em;
    }
}

@include media-query($large-screen) {
    .bricks {
        &--layer--LARGE {
            flex-direction: column;
        }
    }
}

@include media-query($medium-screen) {
    .bricks {
        &--layer--MEDIUM {
            flex-direction: column;
        }
    }
}

@include media-query($small-screen) {
    .bricks {
        &--layer--SMALL {
            flex-direction: column;
        }
    }
}
