.content {
    display: flex;

    &-sidebar {
        width: 13em;
        padding: 0 $spacing-unit / 2;
        border-right: 1px dotted $primary;
        min-height: 100vh;
    }

    &-main {
        width: 100%;
    }
}
