.content {
    display: flex;

    &-sidebar {
        width: 13em;
        padding: 0 $spacing-unit / 2;
        min-height: 100vh;
        background: #ececec;
    }

    &-main {
        width: 100%;
    }
}
