@mixin demo-block {
    background: $primary-light;
    padding-top: $spacing-unit/4;
    padding-bottom: $spacing-unit/4;
    padding-left: $spacing-unit/6;
    padding-right: $spacing-unit/6;
    border-radius: 2px;
}
.demo {
    background: $background-color;
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
    padding-left: $spacing-unit/2;
    padding-right: $spacing-unit/2;
    border: 1px solid darken($gray, 10%);
    text-align: center;

    &--block {
        @include demo-block;
    }

    &--row {
        display: block;
        width: 100%;
    }

    &--left {
        text-align: left;
    }

    &--block--SPACE {
        margin-bottom: $spacing-unit/2;
    }

    &--block--RED {
        @include demo-block;
        background: $danger;
    }

    &--block--PURPLE {
        @include demo-block;
        background: $secondary;
    }

    &--block--YELLOW {
        @include demo-block;
        background: $warning;
    }
}
