.demo {
    background: $background-color;
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
    padding-left: $spacing-unit/2;
    padding-right: $spacing-unit/2;
    border: 1px solid darken($gray, 10%);

    &--block {
        background: $blue-light;
    }
}
