.hero {
    display: flex;
    align-items: center;

    &--logo {
        margin-right: 1em;
        max-width: 3.5em;
    }

    &--title {
        margin: 0;
    }
}

@include media-query($small-screen) {
    .hero {
        &--logo {
            width: 2.5em;
            margin-right: .5em;
        }

        &--title {
            font-size: 2.5em;
        }
    }
}
