<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Brickwork</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Martel:700|Open+Sans:400,200,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{site.url}}/css/main.css">
    </head>
    <body>

        <div class="band band--yellow-light band--LARGE">
            <div class="container">
                <h1>Brickwork</h1>
            </div>
        </div>

        <div class="band band--SMALL">
            <div class="container">
                <h3>Grid</h3>
            </div>
        </div>

        <div class="band band--SMALL">
            <div class="container">
                <h3>Typography</h3>
            </div>
        </div>

        <div class="band band--SMALL">
            <div class="container">
                <h3>Container</h3>
            </div>
        </div>

        <div class="band band--SMALL">
            <div class="container">
                <h3>Bands</h3>
            </div>
        </div>

    </body>
</html>
