---
layout: default
---
<div class="band-md band--{{page.slug}}">
    <div class="container">
        <h1 class="text--WHITE">{{page.title}}</h1>
        <hr class="divider--WHITE">
    </div>
</div>

<div class="band">
    <div class="container">
        <h4>List of runbooks</h4>
        <ul>
        {% for runbook in site.runbooks %}
            {% if runbook.tool == page.slug %}
                <li>
                    <a href="{{runbook.url}}">{{runbook.title}}</a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>
